COMPOSE_PROJECT_NAME=custacm-platform

AUTH_DB_VOLUME_NAME=custacm-platform_auth-db-data
TRAINING_DATA_DB_VOLUME_NAME=custacm-platform_training-data-db-data

AUTH_DB_NAME=custacm_auth
AUTH_DB_USERNAME=custacm_auth
AUTH_DB_PASSWORD=change-me-auth-db-password
AUTH_DB_ROOT_PASSWORD=change-me-auth-root-password

TRAINING_DATA_DB_NAME=custacm_training
TRAINING_DATA_DB_USERNAME=custacm_training
TRAINING_DATA_DB_PASSWORD=change-me-training-data-db-password
TRAINING_DATA_DB_ROOT_PASSWORD=change-me-training-data-root-password

BACKEND_PORT=8081
AUTH_WEB_PORT=8081
TRAINING_DATA_PORT=8082
TRAINING_DATA_WEB_PORT=8082
FRONTEND_PORT=3000
AUTH_JWT_PRIVATE_KEY_HOST_PATH=./secrets/auth-private-key.pem
AUTH_JWT_PUBLIC_KEY_HOST_PATH=./secrets/auth-public-key.pem
AUTH_JWT_ACCESS_TOKEN_TTL=2h
AUTH_JWT_REMEMBER_ME_ACCESS_TOKEN_TTL=30d
AUTH_BOOTSTRAP_ADMIN_STUDENT_IDENTITY=root
AUTH_BOOTSTRAP_ADMIN_PASSWORD=change-me-root-password
