<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.naccl.mapper.UserMapper">
    <!--按用户名查询User-->
    <select id="findByUsername" resultType="top.naccl.entity.User">
        select * from user where username=#{username} limit 1
    </select>

	<select id="findByUsernames" resultType="top.naccl.entity.User">
		select * from user
		where username in
		<foreach collection="usernames" item="username" open="(" separator="," close=")">
			#{username}
		</foreach>
		order by username
	</select>

    <select id="findAll" resultType="top.naccl.entity.User">
        select * from user order by id
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user (username, password, nickname, avatar, signature, email, role, create_time, update_time)
        values (#{username}, #{password}, #{nickname}, #{avatar}, coalesce(#{signature}, ''), #{email}, #{role}, now(), now())
    </insert>

    <update id="updateProfileByUsername">
        update user
        set nickname=#{nickname}, signature=#{signature}, update_time=now()
        where username=#{username}
    </update>

    <update id="updateAvatarByUsername">
        update user set avatar=#{avatar}, avatar_asset_id=#{avatarAssetId}, update_time=now() where username=#{username}
    </update>

    <update id="updatePasswordByUsername">
        update user set password=#{password}, update_time=now() where username=#{username}
    </update>

    <update id="updateAdminFields">
        update user
        set username=#{user.username},
            password=#{user.password},
            nickname=#{user.nickname},
            avatar=#{user.avatar},
            email=#{user.email},
            role=#{user.role},
            update_time=now()
        where username=#{oldUsername}
    </update>

    <delete id="deleteByUsername">
        delete from user where username=#{username}
    </delete>

    <update id="anonymizeCommentsByUserId">
        update comment set nickname='已注销用户', avatar='', email='' where user_id=#{userId}
    </update>

    <select id="lockAdminIds" resultType="long">
        select id from user where role='ROLE_admin' order by id for update
    </select>
</mapper>
